*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  color-scheme: light;
  background: var(--light-gradient) no-repeat;
  position: relative;
  min-height: 100vh;

  &:before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    background: var(--dark-gradient) no-repeat;
    transition: opacity .5s ease-in-out;
  }

  &.dark {
    color-scheme: dark;

    &::before {
      opacity: 1;
    }
  }
}

::-webkit-scrollbar {
  width: .8rem;
  height: .5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 1rem;
  background: var(--neutral-900);
}
