body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}


.heading {
  &--2xl {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
  }

  &--xl {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.2px;
  }

  &--lg {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.3px;
  }

  &--md {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -.3px;
  }

  &--sm {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.5px;
  }

  &--xs {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -.5px;
  }
}
