@use '../../../../../public/scss/_media-queries.scss' as mixin;
@use '@angular/material' as mat;

:host {
  .extensions {
    &__toolbar {
      padding: 0;
      justify-content: space-between;

      @include mat.toolbar-overrides((
        container-background-color: transparent,
        container-text-color: light-dark(var(--neutral-900), var(--neutral-0)),
        standard-height: auto,
        mobile-height: auto,
      ));
    }

    &__filters {
      display: flex;
      align-items: center;
      gap: 1.2rem;
    }

    @include mixin.respond(phone) {
      &__toolbar {
        flex-direction: column;
        gap: 2.4rem;
      }
    }
  }
}
