@use '@angular/material' as mat;

:host {
  .header {
    &__enter {
      animation: fade-in .5s ease-out;
    }

    &__toolbar {
      overflow: hidden;
      transition: all .5s ease-in-out;
      justify-content: space-between;
      border-radius: 2rem;
      border: 1px solid light-dark(var(--neutral-200), var(--neutral-800));
      box-shadow: 0 2px 3px 0 light-dark(#d9e5f4, var(--neutral-800));

      @include mat.toolbar-overrides((
        container-background-color: light-dark(var(--neutral-0), var(--neutral-800)),
        standard-height: 7.4rem,
        mobile-height: 6.6rem,
      ));
    }
  }
}
