@use "../public/scss/media-queries";
@use "../public/scss/variables";
@use "../public/scss/fonts";
@use "../public/scss/base";
@use "../public/scss/typography";

@use "../public/scss/components/button";
@use "../public/scss/components/dialog";
@use "../public/scss/components/slide-toggle";

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Noto Sans,
    density: 0,
  ));
}
