@use "../public/scss/media-queries";
@use "../public/scss/variables";
@use "../public/scss/fonts";
@use "../public/scss/base";
@use "../public/scss/typography";

@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Noto Sans,
    density: 0,
  ));

  /********* ICON BUTTON *********/
  @include mat.icon-button-overrides((
    icon-size: 2.2rem,
    container-shape: 1.2rem,
    touch-target-size: 5rem,
    state-layer-size: 5rem,
    state-layer-color: transparent,
    hover-state-layer-opacity: 0,
    focus-state-layer-opacity: 0,
  ));

  .mat-mdc-icon-button {
    transition-property: background-color, box-shadow;
    transition-duration: .35s;
    background-color: light-dark(var(--neutral-100), var(--neutral-700));

    .mat-icon {
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
    }

    &:hover {
      background-color: light-dark(var(--neutral-300), var(--neutral-600));
    }

    &:focus {
      background-color: light-dark(var(--neutral-100), var(--neutral-600));
      box-shadow: 0 0 0 2px light-dark(var(--neutral-0),var(--neutral-800)), 0 0 0 4px var(--red-400);
    }
  }

  /********* BUTTON *********/
  @include mat.button-overrides((
    filled-container-shape: var(--mat-sys-corner-full),
    filled-horizontal-padding: 2rem,
    filled-container-height: 4.6rem,
    filled-container-color: light-dark(var(--neutral-0), var(--neutral-700)),
    filled-focus-state-layer-opacity: 1,
    filled-hover-state-layer-opacity: 1,
    filled-pressed-state-layer-opacity: 1,
    filled-state-layer-color: transparent,
    filled-ripple-color: transparent,
    filled-label-text-color: light-dark(var(--neutral-900), var(--neutral-0)),
    filled-label-text-size: 2rem,
    filled-label-text-tracking: -.3px,
    filled-label-text-weight: 400,
    outlined-container-shape: var(--mat-sys-corner-full),
    outlined-horizontal-padding: 1.6rem,
    outlined-container-height: 3.8rem,
    outlined-focus-state-layer-opacity: 1,
    outlined-hover-state-layer-opacity: 1,
    outlined-label-text-color: light-dark(var(--neutral-900), var(--neutral-0)),
    outlined-outline-color: light-dark(var(--neutral-300), var(--neutral-600)),
    outlined-pressed-state-layer-opacity: 1,
    outlined-ripple-color: transparent,
    outlined-state-layer-color: transparent,
    outlined-label-text-size: 1.6rem,
    outlined-label-text-tracking: -.5px,
    outlined-label-text-weight: 500,
  ));

  .mdc-button--unelevated {
    transition: border .35s, background-color .35s, color .35s, box-shadow .35s, opacity .35s;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;

    &.active {
      border-color: light-dark(var(--red-700), var(--red-400));
      @include mat.button-overrides((
        filled-container-color: light-dark(var(--red-700), var(--red-400)),
        filled-label-text-color: light-dark(var(--neutral-0), var(--neutral-900)),
        filled-label-text-weight: 500,
      ));

      &:hover {
        border-color: var(--red-500);
        @include mat.button-overrides((
          filled-container-color: var(--red-500),
        ));
      }

      &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 2px light-dark(var(--neutral-0), var(--neutral-900)), 0 0 0 4px var(--red-400);
      }
    }

    &:not(.active) {
      border-color: light-dark(var(--neutral-200), var(--neutral-600));
      box-shadow: 0 1px 2px 0 light-dark(rgba(184, 196, 215, .4), transparent);

      &:hover {
        box-shadow: none;
        border-color: light-dark(rgba(214, 226, 245, .7), var(--neutral-600));

        @include mat.button-overrides((
          filled-container-color: light-dark(rgba(251, 253, 254, .7), var(--neutral-600)),
          filled-label-text-color: light-dark(rgba(9, 20, 80, .7), var(--neutral-0)),
        ));
      }

      &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 2px light-dark(var(--neutral-200), var(--neutral-900)), 0 0 0 4px var(--red-400);
      }
    }
  }

  .mdc-button--outlined {
    transition: border .35s, color .35s, background-color .35s;

    &:hover {

    }

    &:focus {

    }
  }

  /********* SLIDE TOGGLE *********/
  @include mat.slide-toggle-overrides((
    track-width: 3.6rem,
    track-height: 2rem,
    track-outline-width: 0,
    track-shape: var(--mat-sys-corner-full),
    touch-target-size: 2rem,
    pressed-handle-size: 1.6rem,
    selected-handle-horizontal-margin: 0 0 0 -2px,
    selected-pressed-handle-horizontal-margin: 0 0 0 -2px,
    selected-track-outline-color: transparent,
    selected-track-outline-width: 0px,
    state-layer-size: 1.6rem,
    selected-handle-size: 1.6rem,
    unselected-handle-horizontal-margin: 0 0 0 2px,
    unselected-pressed-handle-horizontal-margin: 0 0 0 2px,
    unselected-handle-size: 1.6rem,
    handle-width: 1.6rem,
    handle-height: 1.6rem,
    handle-surface-color: var(--neutral-0),
    handle-elevation-shadow: 0 1px 3px 0 rgba(10, 13, 18, .3),
    handle-shape: 50%,
    selected-focus-handle-color: var(--neutral-0),
    selected-focus-state-layer-color: var(--red-700),
    selected-focus-state-layer-opacity: 1,
    selected-focus-track-color: var(--red-700),
    selected-handle-color: var(--neutral-0),
    selected-hover-handle-color: var(--neutral-0),
    selected-hover-state-layer-color: var(--red-500),
    selected-hover-state-layer-opacity: 1,
    selected-hover-track-color: var(--red-500),
    selected-pressed-handle-color: var(--neutral-0),
    selected-pressed-state-layer-color: var(--red-700),
    selected-pressed-state-layer-opacity: 1,
    selected-pressed-track-color: var(--red-700),
    selected-track-color: var(--red-700),
    track-outline-color: transparent,
    unselected-focus-handle-color: var(--neutral-0),
    unselected-focus-state-layer-color: var(--neutral-300),
    unselected-focus-state-layer-opacity: 1,
    unselected-focus-track-color: var(--neutral-300),
    unselected-handle-color: var(--neutral-0),
    unselected-hover-handle-color: var(--neutral-0),
    unselected-hover-state-layer-color: var(--neutral-300),
    unselected-hover-state-layer-opacity: 1,
    unselected-hover-track-color: var(--neutral-300),
    unselected-pressed-handle-color: var(--neutral-0),
    unselected-pressed-state-layer-color: var(--neutral-300),
    unselected-pressed-state-layer-opacity: 1,
    unselected-pressed-track-color: var(--neutral-300),
    unselected-track-color: var(--neutral-300),
  ));
}

body {
  box-sizing: border-box;
  color-scheme: light;
  margin: 0;
  background: var(--light-gradient);

  &.dark {
    color-scheme: dark;
    background: var(--dark-gradient);
  }
}
